.footer {
    width: 100%;
    background-color: #4DB5FF;
    text-align: center;
    margin-top: 100px;
    padding-top: 60px;
}



.footer .footer-name {
    color: #1F1F38;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.footer a:hover {
    color: white;
    transition: var(--transition);
}


.footer ul {
    max-width: 35%;
    color: #1F1F38;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.footer li {
    color: #1F1F38;
    font-size: smaller;
    cursor: pointer;
}

.footer li:hover {
    color: white;
    transition: var(--transition);
}



.footer-icon a {
    display: inline-block;
    margin-top: 5px;
    margin-inline: 10px;
    padding-inline: 10px;
    text-align: center;
    padding-top: 5px;
    background-color: #1F1F38;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid transparent;
}

.footer-icon a:hover {
    background-color: #4DB5FF;
    color: #1F1F38;
    border-color: #1F1F38;
}






.footer p {
    color: #1F1F38;
    font-size: smaller;
    margin-top: 50px;
    padding-bottom: 120px;
}







@media screen and (max-width:768px) {
    .footer ul {
        flex-direction: column;
    }

    .ul li {
        margin-block: 10px;
    }
}