.menu {
    position: fixed;
    z-index: 10;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menubar {
    width: 300px;
    height: 60px;
    background-color: #0000004D;
    align-items: center;
    border-radius: 7em/8em;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.menubar a {
    width: 40px;
    height: 40px;
    color: white;
    padding: 10px;
}


.active {
    font-size: 1rem;
    background-color: #4DB5FF;
    border-radius: 50%;
    color: black;
    transition: var(--transition);
}