.app {
    max-width: 80%;
    margin-top: 7rem;
    margin-inline: auto;
}


@media screen and (max-width:992px) {
    .app {
        overflow: hidden;
    }
}


@media screen and (max-width:425px) {
    .app {
        width: 90%;
    }
}